.header-section{
  background-color: #ff742b;
  width: 100%;
  height: 60px;
  border: 1px solid white;
}

img{
    opacity: 0.8;
    margin-top: 5px;
    margin-left: 5px;
}

  input[name="Search"]{
  position: absolute;
  margin-left: 30px;
  margin-top: 13px;
  width: 60%;
  height: 30px;
}

.by{
  margin-left: 67.5%;
  margin-top: -37px;
}

.algolia{
color: aliceblue;
}

.attribute{
  color: rgb(126, 126, 126);
  font-size: smaller;
}



